@font-face {
    font-family: T-bold;
    src: url(/src/fonts/TitilliumWeb-Bold.ttf);
}
@font-face {
    font-family: T-regular;
    src: url(/src/fonts/TitilliumWeb-Regular.ttf);
}
* {
    padding: 0px;
    margin: 0px;
    background-color: #171717;
    border: none;
    font-family: T-regular;
    color: white;
    outline: 0!important;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    opacity: 0;
}
#root {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@import '_HeadText';
@import '_Post';
@import '_admin';